@bg-color: white;
@import url('http://fonts.googleapis.com/css?family=Hammersmith+One');
@import url('http://fonts.googleapis.com/css?family=Gudea');
@import url('http://fonts.googleapis.com/css?family=Ubuntu');
@import url('http://fonts.googleapis.com/css?family=Alegreya+Sans');
@import url('http://fonts.googleapis.com/css?family=Julee');
@import url('http://fonts.googleapis.com/css?family=Cantata+One');
@import url('http://fonts.googleapis.com/css?family=Muli');
@import url('http://fonts.googleapis.com/css?family=Lusitana:700, 400');



body{
  background-color: @bg-color;
  font-family: 'Lusitana', serif;
}

#home{
  padding: 20px 80px;
}

#home ul{
  list-style-type: none;
}

#pic{
  margin: 5px;
  width: 35px;
  height: 35px;
  background-size: cover;
  border-radius: 50%;
}

h5, h4{
  font-family: 'Alegreya Sans', sans-serif;
}

h3{
  font-family: 'Hammersmith One', sans-serif;
}

h6{
  font-family: 'Lusitana', serif;
  font-size: bold;
}

.top-bar .left{
  font-family: 'Julee', cursive;
}
