extends ../shared/template

block less
    link(rel='stylesheet', href='/less/user-login.css')

block content

  #container
    #new-account
      .row
        .small-12.columns.large-6.columns
          form(method='post', action='/login')
            fieldset
              legend= title
              label Email
              input(type='email', name='email' required=true)
              label Password
              input(type='password', name='password' required=true)
              button.tiny.radius Login
        .small-6.columns
          #img


