

h1(style="color:red; background-color:yellow;")= subject
p Hi #{to},
p You have been invited to be a happy-share member and recived the following message:
p #{message}

P follow this link to register and start managing your expenses:
a(href='http://happyshare.samtes.us'): h5(style="color: blue")= 'Happy Share'

p Thank you for sharing,

small The Management
