h1(style="color:green;")= subject

p Thank you, #{name}, for signing up for Share-Happy expense sharing services.

a(href='http://happyshare.samtes.us'): h5(style="color: blue")= 'Start Happy Share'

small The Management
