extends ../shared/template

block content
  h3= title


  if accounts.length === 0
    #no-accounts='You haven\'t created an account yet, '
      a(href='/accounts/new') Create Happy-share account
  else
    table
      thead
        th Name
        th Owner
        th Members
        th Description
      each account in accounts
        tbody
          tr
            td: a(href='/accounts/members/'+ account._id.toString())= account.name
            each user in users
              if account.ownerId.toString() === user._id.toString()
                td: a(href='#')= user.name
            td(style='text-align: center'): a(href='/accounts/members/'+account._id.toString())=account.members.length
            td= account.description

